USE [master]
GO
/****** Object:  Database [QL_BAN_HANG]    Script Date: 10/10/2016 3:13:35 PM ******/
CREATE DATABASE [QL_BAN_HANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_BAN_HANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QL_BAN_HANG.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_BAN_HANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QL_BAN_HANG_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_BAN_HANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_BAN_HANG]
GO
/****** Object:  Table [dbo].[BARCODE]    Script Date: 10/10/2016 3:13:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BARCODE](
	[MaBarcode] [binary](20) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_BARCODE] PRIMARY KEY CLUSTERED 
(
	[MaBarcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUC_VU]    Script Date: 10/10/2016 3:13:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUC_VU](
	[MaCV] [varchar](10) NOT NULL,
	[TenCV] [nvarchar](200) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_CHUC_VU] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HD_BAN_HANG]    Script Date: 10/10/2016 3:13:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HD_BAN_HANG](
	[MaHD] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NULL,
	[SoLuong] [int] NULL,
	[TongTien] [int] NULL,
	[NgayLap] [date] NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_CTHDDH] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEU_KT]    Script Date: 10/10/2016 3:13:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEU_KT](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[MaNCC] [varchar](10) NOT NULL,
	[TongSo] [int] NOT NULL,
	[HuHong] [int] NOT NULL,
	[NguyenNhan] [nvarchar](200) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_CT_PHIEU_KT] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEU_MUA_HANG]    Script Date: 10/10/2016 3:13:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEU_MUA_HANG](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_Chi_Tiet_Phieu_Mua_Hang] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEU_NHAP_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEU_NHAP_KHO](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MaNCC] [varchar](10) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_CT_PHIEU_NHAP_KHO] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEU_XUAT_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEU_XUAT_KHO](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaCuaHang] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MaNCC] [varchar](10) NOT NULL,
	[NgayXuat] [date] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_CT_PHIEU_XUAT_KHO] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC,
	[MaCuaHang] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEU_YC_NHAP_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEU_YC_NHAP_KHO](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[SL] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_CTPYCNK] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEU_YC_XUAT_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEU_YC_XUAT_KHO](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaCuaHang] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MaNCC] [varchar](10) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_CT_PHIEU_YC_XUAT_KHO] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUA_HANG]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUA_HANG](
	[MaCuaHang] [varchar](10) NOT NULL,
	[TenCuaHang] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SoDT] [varchar](20) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_CUA_HANG] PRIMARY KEY CLUSTERED 
(
	[MaCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HD_BAN_HANG]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HD_BAN_HANG](
	[MaHD] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NOT NULL,
	[TongTien] [int] NOT NULL,
	[TinhTrang] [varchar](50) NULL,
 CONSTRAINT [PK_HDBH] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](200) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO](
	[MaKho] [varchar](10) NOT NULL,
	[TenKho] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SoDT] [varchar](20) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MaNCC] [varchar](10) NOT NULL,
	[TenNCC] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SDT] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[NguoiDaiDien] [varchar](50) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_Nha_Cung_Cap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [varchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[SDT] [varchar](50) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SoCMND] [varchar](15) NOT NULL,
	[QueQuan] [nvarchar](200) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[MaCV] [varchar](10) NOT NULL,
	[MaPB] [varchar](10) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_KIEM_TRA]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_KIEM_TRA](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaKho] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[NgayKT] [date] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_PHIEU_KIEM_TRA] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_MUA_HANG]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_MUA_HANG](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[MaNCC] [varchar](10) NOT NULL,
	[NgayLapPhieu] [date] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_Phieu_Mua_Hang] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_NHAP_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP_KHO](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[MaKho] [varchar](10) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_PHIEU_YC_NHAP_KHO] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_XUAT_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_XUAT_KHO](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[MaCuaHang] [varchar](10) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[GhiChu] [varchar](500) NOT NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_PHIEU_XUAT_KHO] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_YC_NHAP_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_YC_NHAP_KHO](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[MaKho] [varchar](10) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_Phieu_Yeu_Cau_Nhap_Kho] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_YC_XUAT_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_YC_XUAT_KHO](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[MaKho] [varchar](10) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_PHIEU_YC_XUAT_KHO] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG_BAN]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG_BAN](
	[MaPB] [varchar](10) NOT NULL,
	[TenPB] [nvarchar](200) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_PHONG_BAN] PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[MaBarcode] [varchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[MaNCC] [int] NULL,
	[NhaSX] [nvarchar](200) NOT NULL,
	[NgaySX] [date] NOT NULL,
	[HanSuDung] [int] NOT NULL,
	[HinhAnh] [varchar](50) NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TK_DANG_NHAP]    Script Date: 10/10/2016 3:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TK_DANG_NHAP](
	[MaNV] [varchar](10) NOT NULL,
	[TenTK] [nvarchar](50) NOT NULL,
	[MatKhau] [binary](20) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_TK_DANG_NHAP] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[TenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_BARCODE_NHAN_VIEN]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_BARCODE_NHAN_VIEN] ON [dbo].[BARCODE]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_BARCODE_SAN_PHAM]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_BARCODE_SAN_PHAM] ON [dbo].[BARCODE]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CTHDDH_HDBH]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CTHDDH_HDBH] ON [dbo].[CT_HD_BAN_HANG]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CTHDDH_SanPham]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CTHDDH_SanPham] ON [dbo].[CT_HD_BAN_HANG]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_KT_PHIEU_KIEM_TRA]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_KT_PHIEU_KIEM_TRA] ON [dbo].[CT_PHIEU_KT]
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_KT_SAN_PHAM]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_KT_SAN_PHAM] ON [dbo].[CT_PHIEU_KT]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_KT_SAN_PHAM_02]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_KT_SAN_PHAM_02] ON [dbo].[CT_PHIEU_KT]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_Chi_Tiet_Phieu_Mua_Hang_Phieu_Mua_Hang]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_Chi_Tiet_Phieu_Mua_Hang_Phieu_Mua_Hang] ON [dbo].[CT_PHIEU_MUA_HANG]
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_MUA_HANG_SAN_PHAM]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_MUA_HANG_SAN_PHAM] ON [dbo].[CT_PHIEU_MUA_HANG]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_MUA_HANG_SAN_PHAM_02]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_MUA_HANG_SAN_PHAM_02] ON [dbo].[CT_PHIEU_MUA_HANG]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_NHAP_KHO_PHIEU_NHAP_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_NHAP_KHO_PHIEU_NHAP_KHO] ON [dbo].[CT_PHIEU_NHAP_KHO]
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_NHAP_KHO_SAN_PHAM]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_NHAP_KHO_SAN_PHAM] ON [dbo].[CT_PHIEU_NHAP_KHO]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_NHAP_KHO_SAN_PHAM_02]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_NHAP_KHO_SAN_PHAM_02] ON [dbo].[CT_PHIEU_NHAP_KHO]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_XUAT_KHO_CUA_HANG]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_XUAT_KHO_CUA_HANG] ON [dbo].[CT_PHIEU_XUAT_KHO]
(
	[MaCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_XUAT_KHO_PHIEU_XUAT_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_XUAT_KHO_PHIEU_XUAT_KHO] ON [dbo].[CT_PHIEU_XUAT_KHO]
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_XUAT_KHO_SAN_PHAM]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_XUAT_KHO_SAN_PHAM] ON [dbo].[CT_PHIEU_XUAT_KHO]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_XUAT_KHO_SAN_PHAM_02]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_XUAT_KHO_SAN_PHAM_02] ON [dbo].[CT_PHIEU_XUAT_KHO]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_YC_NHAP_KHO_SAN_PHAM]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_YC_NHAP_KHO_SAN_PHAM] ON [dbo].[CT_PHIEU_YC_NHAP_KHO]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_YC_XUAT_KHO_PHIEU_YC_XUAT_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_YC_XUAT_KHO_PHIEU_YC_XUAT_KHO] ON [dbo].[CT_PHIEU_YC_XUAT_KHO]
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_CT_PHIEU_YC_XUAT_KHO_SAN_PHAM]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_CT_PHIEU_YC_XUAT_KHO_SAN_PHAM] ON [dbo].[CT_PHIEU_YC_XUAT_KHO]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_HDBH_NhanVien]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_HDBH_NhanVien] ON [dbo].[HD_BAN_HANG]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_NhanVien_CHUC_VU]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_NhanVien_CHUC_VU] ON [dbo].[NHAN_VIEN]
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_NhanVien_PHONG_BAN]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_NhanVien_PHONG_BAN] ON [dbo].[NHAN_VIEN]
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_KIEM_TRA_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_KIEM_TRA_KHO] ON [dbo].[PHIEU_KIEM_TRA]
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_KIEM_TRA_NHAN_VIEN]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_KIEM_TRA_NHAN_VIEN] ON [dbo].[PHIEU_KIEM_TRA]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_MUA_HANG_NHA_CUNG_CAP]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_MUA_HANG_NHA_CUNG_CAP] ON [dbo].[PHIEU_MUA_HANG]
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_MUA_HANG_NHAN_VIEN]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_MUA_HANG_NHAN_VIEN] ON [dbo].[PHIEU_MUA_HANG]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_NHAP_KHO_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_NHAP_KHO_KHO] ON [dbo].[PHIEU_NHAP_KHO]
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_NHAP_KHO_NHAN_VIEN]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_NHAP_KHO_NHAN_VIEN] ON [dbo].[PHIEU_NHAP_KHO]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_NHAP_KHO_Phieu_Yeu_Cau_Nhap_Kho]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_NHAP_KHO_Phieu_Yeu_Cau_Nhap_Kho] ON [dbo].[PHIEU_NHAP_KHO]
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_XUAT_KHO_CUA_HANG]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_XUAT_KHO_CUA_HANG] ON [dbo].[PHIEU_XUAT_KHO]
(
	[MaCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_XUAT_KHO_NHAN_VIEN]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_XUAT_KHO_NHAN_VIEN] ON [dbo].[PHIEU_XUAT_KHO]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_XUAT_KHO_PHIEU_YC_XUAT_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_XUAT_KHO_PHIEU_YC_XUAT_KHO] ON [dbo].[PHIEU_XUAT_KHO]
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_YC_NHAP_KHO_NHAN_VIEN]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_YC_NHAP_KHO_NHAN_VIEN] ON [dbo].[PHIEU_YC_NHAP_KHO]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_Phieu_Yeu_Cau_Nhap_Kho_Phieu_Mua_Hang]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_Phieu_Yeu_Cau_Nhap_Kho_Phieu_Mua_Hang] ON [dbo].[PHIEU_YC_NHAP_KHO]
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_YC_XUAT_KHO_KHO]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_YC_XUAT_KHO_KHO] ON [dbo].[PHIEU_YC_XUAT_KHO]
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_PHIEU_YC_XUAT_KHO_NHAN_VIEN]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_PHIEU_YC_XUAT_KHO_NHAN_VIEN] ON [dbo].[PHIEU_YC_XUAT_KHO]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXFK_TK_DANG_NHAP_NHAN_VIEN]    Script Date: 10/10/2016 3:13:36 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_TK_DANG_NHAP_NHAN_VIEN] ON [dbo].[TK_DANG_NHAP]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BARCODE]  WITH CHECK ADD  CONSTRAINT [FK_BARCODE_NHAN_VIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[BARCODE] CHECK CONSTRAINT [FK_BARCODE_NHAN_VIEN]
GO
ALTER TABLE [dbo].[BARCODE]  WITH CHECK ADD  CONSTRAINT [FK_BARCODE_SAN_PHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[BARCODE] CHECK CONSTRAINT [FK_BARCODE_SAN_PHAM]
GO
ALTER TABLE [dbo].[CT_HD_BAN_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CTHDDH_HDBH] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HD_BAN_HANG] ([MaHD])
GO
ALTER TABLE [dbo].[CT_HD_BAN_HANG] CHECK CONSTRAINT [FK_CTHDDH_HDBH]
GO
ALTER TABLE [dbo].[CT_HD_BAN_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CTHDDH_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_HD_BAN_HANG] CHECK CONSTRAINT [FK_CTHDDH_SanPham]
GO
ALTER TABLE [dbo].[CT_PHIEU_KT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_KT_PHIEU_KIEM_TRA] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[PHIEU_KIEM_TRA] ([SoPhieu])
GO
ALTER TABLE [dbo].[CT_PHIEU_KT] CHECK CONSTRAINT [FK_CT_PHIEU_KT_PHIEU_KIEM_TRA]
GO
ALTER TABLE [dbo].[CT_PHIEU_KT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_KT_SAN_PHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_PHIEU_KT] CHECK CONSTRAINT [FK_CT_PHIEU_KT_SAN_PHAM]
GO
ALTER TABLE [dbo].[CT_PHIEU_MUA_HANG]  WITH CHECK ADD  CONSTRAINT [FK_Chi_Tiet_Phieu_Mua_Hang_Phieu_Mua_Hang] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[PHIEU_MUA_HANG] ([SoPhieu])
GO
ALTER TABLE [dbo].[CT_PHIEU_MUA_HANG] CHECK CONSTRAINT [FK_Chi_Tiet_Phieu_Mua_Hang_Phieu_Mua_Hang]
GO
ALTER TABLE [dbo].[CT_PHIEU_MUA_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_MUA_HANG_SAN_PHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_PHIEU_MUA_HANG] CHECK CONSTRAINT [FK_CT_PHIEU_MUA_HANG_SAN_PHAM]
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP_KHO]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_NHAP_KHO_PHIEU_NHAP_KHO] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[PHIEU_NHAP_KHO] ([SoPhieu])
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP_KHO] CHECK CONSTRAINT [FK_CT_PHIEU_NHAP_KHO_PHIEU_NHAP_KHO]
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP_KHO]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_NHAP_KHO_SAN_PHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP_KHO] CHECK CONSTRAINT [FK_CT_PHIEU_NHAP_KHO_SAN_PHAM]
GO
ALTER TABLE [dbo].[CT_PHIEU_XUAT_KHO]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_XUAT_KHO_PHIEU_XUAT_KHO] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[PHIEU_XUAT_KHO] ([SoPhieu])
GO
ALTER TABLE [dbo].[CT_PHIEU_XUAT_KHO] CHECK CONSTRAINT [FK_CT_PHIEU_XUAT_KHO_PHIEU_XUAT_KHO]
GO
ALTER TABLE [dbo].[CT_PHIEU_XUAT_KHO]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_XUAT_KHO_SAN_PHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_PHIEU_XUAT_KHO] CHECK CONSTRAINT [FK_CT_PHIEU_XUAT_KHO_SAN_PHAM]
GO
ALTER TABLE [dbo].[CT_PHIEU_YC_NHAP_KHO]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_YC_NHAP_KHO_SAN_PHAM_02] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_PHIEU_YC_NHAP_KHO] CHECK CONSTRAINT [FK_CT_PHIEU_YC_NHAP_KHO_SAN_PHAM_02]
GO
ALTER TABLE [dbo].[CT_PHIEU_YC_NHAP_KHO]  WITH CHECK ADD  CONSTRAINT [FK_CTPYCNK_Phieu_Yeu_Cau_Nhap_Kho] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[PHIEU_YC_NHAP_KHO] ([SoPhieu])
GO
ALTER TABLE [dbo].[CT_PHIEU_YC_NHAP_KHO] CHECK CONSTRAINT [FK_CTPYCNK_Phieu_Yeu_Cau_Nhap_Kho]
GO
ALTER TABLE [dbo].[CT_PHIEU_YC_XUAT_KHO]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_YC_XUAT_KHO_PHIEU_YC_XUAT_KHO] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[PHIEU_YC_XUAT_KHO] ([SoPhieu])
GO
ALTER TABLE [dbo].[CT_PHIEU_YC_XUAT_KHO] CHECK CONSTRAINT [FK_CT_PHIEU_YC_XUAT_KHO_PHIEU_YC_XUAT_KHO]
GO
ALTER TABLE [dbo].[CT_PHIEU_YC_XUAT_KHO]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_YC_XUAT_KHO_SAN_PHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_PHIEU_YC_XUAT_KHO] CHECK CONSTRAINT [FK_CT_PHIEU_YC_XUAT_KHO_SAN_PHAM]
GO
ALTER TABLE [dbo].[HD_BAN_HANG]  WITH CHECK ADD  CONSTRAINT [FK_HD_BAN_HANG_KHACH_HANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[HD_BAN_HANG] CHECK CONSTRAINT [FK_HD_BAN_HANG_KHACH_HANG]
GO
ALTER TABLE [dbo].[HD_BAN_HANG]  WITH CHECK ADD  CONSTRAINT [FK_HDBH_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HD_BAN_HANG] CHECK CONSTRAINT [FK_HDBH_NhanVien]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_CHUC_VU] FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUC_VU] ([MaCV])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NhanVien_CHUC_VU]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PHONG_BAN] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PHONG_BAN] ([MaPB])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NhanVien_PHONG_BAN]
GO
ALTER TABLE [dbo].[PHIEU_KIEM_TRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_KIEM_TRA_KHO] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHO] ([MaKho])
GO
ALTER TABLE [dbo].[PHIEU_KIEM_TRA] CHECK CONSTRAINT [FK_PHIEU_KIEM_TRA_KHO]
GO
ALTER TABLE [dbo].[PHIEU_KIEM_TRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_KIEM_TRA_NHAN_VIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU_KIEM_TRA] CHECK CONSTRAINT [FK_PHIEU_KIEM_TRA_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_MUA_HANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_MUA_HANG_NHA_CUNG_CAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEU_MUA_HANG] CHECK CONSTRAINT [FK_PHIEU_MUA_HANG_NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[PHIEU_MUA_HANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_MUA_HANG_NHAN_VIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU_MUA_HANG] CHECK CONSTRAINT [FK_PHIEU_MUA_HANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_KHO_KHO] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHO] ([MaKho])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_KHO] CHECK CONSTRAINT [FK_PHIEU_NHAP_KHO_KHO]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_KHO_NHAN_VIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_KHO] CHECK CONSTRAINT [FK_PHIEU_NHAP_KHO_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_KHO_Phieu_Yeu_Cau_Nhap_Kho] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[PHIEU_YC_NHAP_KHO] ([SoPhieu])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_KHO] CHECK CONSTRAINT [FK_PHIEU_NHAP_KHO_Phieu_Yeu_Cau_Nhap_Kho]
GO
ALTER TABLE [dbo].[PHIEU_XUAT_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUAT_KHO_CUA_HANG] FOREIGN KEY([MaCuaHang])
REFERENCES [dbo].[CUA_HANG] ([MaCuaHang])
GO
ALTER TABLE [dbo].[PHIEU_XUAT_KHO] CHECK CONSTRAINT [FK_PHIEU_XUAT_KHO_CUA_HANG]
GO
ALTER TABLE [dbo].[PHIEU_XUAT_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUAT_KHO_NHAN_VIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU_XUAT_KHO] CHECK CONSTRAINT [FK_PHIEU_XUAT_KHO_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_XUAT_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUAT_KHO_PHIEU_YC_XUAT_KHO] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[PHIEU_YC_XUAT_KHO] ([SoPhieu])
GO
ALTER TABLE [dbo].[PHIEU_XUAT_KHO] CHECK CONSTRAINT [FK_PHIEU_XUAT_KHO_PHIEU_YC_XUAT_KHO]
GO
ALTER TABLE [dbo].[PHIEU_YC_NHAP_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_YC_NHAP_KHO_NHAN_VIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU_YC_NHAP_KHO] CHECK CONSTRAINT [FK_PHIEU_YC_NHAP_KHO_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_YC_NHAP_KHO]  WITH CHECK ADD  CONSTRAINT [FK_Phieu_Yeu_Cau_Nhap_Kho_Phieu_Mua_Hang] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[PHIEU_MUA_HANG] ([SoPhieu])
GO
ALTER TABLE [dbo].[PHIEU_YC_NHAP_KHO] CHECK CONSTRAINT [FK_Phieu_Yeu_Cau_Nhap_Kho_Phieu_Mua_Hang]
GO
ALTER TABLE [dbo].[PHIEU_YC_XUAT_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_YC_XUAT_KHO_KHO] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHO] ([MaKho])
GO
ALTER TABLE [dbo].[PHIEU_YC_XUAT_KHO] CHECK CONSTRAINT [FK_PHIEU_YC_XUAT_KHO_KHO]
GO
ALTER TABLE [dbo].[PHIEU_YC_XUAT_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_YC_XUAT_KHO_NHAN_VIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU_YC_XUAT_KHO] CHECK CONSTRAINT [FK_PHIEU_YC_XUAT_KHO_NHAN_VIEN]
GO
ALTER TABLE [dbo].[TK_DANG_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_TK_DANG_NHAP_NHAN_VIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TK_DANG_NHAP] CHECK CONSTRAINT [FK_TK_DANG_NHAP_NHAN_VIEN]
GO
USE [master]
GO
